@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  /* Nexia Light Teal */
  --nexia-light-teal-100: 0 185 185;
  --nexia-light-teal-80: 51 199 199;
  --nexia-light-teal-60: 102 213 213;
  --nexia-light-teal-40: 153 233 233;
  --nexia-light-teal-20: 204 241 241;

   /* Nexia Dark Teal */
   --nexia-dark-teal-100: 0 50 60;
   --nexia-dark-teal-80: 51 88 83;
   --nexia-dark-teal-60: 102 154 155;
   --nexia-dark-teal-40: 153 171 216;
   --nexia-dark-teal-20: 204 214 216;

      /* Nexia Blue */
      --nexia-blue-100: 32 130 196;
      --nexia-blue-80: 100 156 207;
      --nexia-blue-60: 134 178 217;
      --nexia-blue-40: 163 206 231;
      --nexia-blue-20: 209 231 243;

      /* Nexia Dark Blue */
      --nexia-dark-blue-100: 59 97 151;
      --nexia-dark-blue-80: 115 135 179;
      --nexia-dark-blue-60: 129 151 184;
      --nexia-dark-blue-40: 171 186 215;
      --nexia-dark-blue-20: 213 220 236;

        /* Nexia Purple */
    --nexia-purple-100: 156 80 164;
    --nexia-purple-80: 181 112 160;
    --nexia-purple-60: 201 142 184;
    --nexia-purple-40: 206 166 192;
    --nexia-purple-20: 230 207 223;

      /* Nexia Pink */
      --nexia-pink-100: 212 71 132;
      --nexia-pink-80: 223 118 163;
      --nexia-pink-60: 234 164 194;
      --nexia-pink-40: 245 209 224;
      --nexia-pink-20: 252 233 244;

         /* Nexia Orange */
    --nexia-orange-100: 240 166 146;
    --nexia-orange-80: 244 188 179;
    --nexia-orange-60: 248 210 173;
    --nexia-orange-40: 252 233 214;
    --nexia-orange-20: 254 243 230;

    /* Nexia Yellow */
    --nexia-yellow-100: 251 207 64;
    --nexia-yellow-80: 252 219 112;
    --nexia-yellow-60: 253 231 160;
    --nexia-yellow-40: 253 243 207;
    --nexia-yellow-20: 254 243 207;

    --nexia-black-100: 0 0 0;
    --nexia-black-80: 51 51 51;
    --nexia-black-60: 102 102 102;
    --nexia-black-40: 153 153 153;
    --nexia-black-20: 204 204 204;
    --nexia-black-10: 229 229 229;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-effra: var(--font-effra-regular);
  --font-efrra-bold: var(--font-effra-bold);
  --font-taho: var(--font-taho);
  --font-effra-light: var(--font-effra-light);

  /* Nexia Light Teal */
  --color-nexia-light-teal-100: #00b9b9;
  --color-nexia-light-teal-80: #33c7c7;
  --color-nexia-light-teal-60: rgb(var(--nexia-light-teal-60));
  --color-nexia-light-teal-40: rgb(var(--nexia-light-teal-40));
  --color-nexia-light-teal-20: rgb(var(--nexia-light-teal-20));

  /* Nexia Dark Teal */
  --color-nexia-dark-teal-100: #00323c;
  --color-nexia-dark-teal-80: #335B63;
  --color-nexia-dark-teal-60: #66848A;
  --color-nexia-dark-teal-40: rgb(var(--nexia-dark-teal-40));
  --color-nexia-dark-teal-20: rgb(var(--nexia-dark-teal-20));

  /* Nexia Blue */
  --color-nexia-blue-100: rgb(var(--nexia-blue-100));
  --color-nexia-blue-80: rgb(var(--nexia-blue-80));
  --color-nexia-blue-60: rgb(var(--nexia-blue-60));
  --color-nexia-blue-40: rgb(var(--nexia-blue-40));
  --color-nexia-blue-20: rgb(var(--nexia-blue-20));

  /* Nexia Dark Blue */
  --color-nexia-dark-blue-100: rgb(var(--nexia-dark-blue-100));
  --color-nexia-dark-blue-80: rgb(var(--nexia-dark-blue-80));
  --color-nexia-dark-blue-60: rgb(var(--nexia-dark-blue-60));
  --color-nexia-dark-blue-40: rgb(var(--nexia-dark-blue-40));
  --color-nexia-dark-blue-20: rgb(var(--nexia-dark-blue-20));

  /* Nexia Purple */
  --color-nexia-purple-100: rgb(var(--nexia-purple-100));
  --color-nexia-purple-80: rgb(var(--nexia-purple-80));
  --color-nexia-purple-60: rgb(var(--nexia-purple-60));
  --color-nexia-purple-40: rgb(var(--nexia-purple-40));
  --color-nexia-purple-20: rgb(var(--nexia-purple-20));

  /* Nexia Pink */
  --color-nexia-pink-100: rgb(var(--nexia-pink-100));
  --color-nexia-pink-80: rgb(var(--nexia-pink-80));
  --color-nexia-pink-60: rgb(var(--nexia-pink-60));
  --color-nexia-pink-40: rgb(var(--nexia-pink-40));
  --color-nexia-pink-20: rgb(var(--nexia-pink-20));

  /* Nexia Orange */
  --color-nexia-orange-100: rgb(var(--nexia-orange-100));
  --color-nexia-orange-80: rgb(var(--nexia-orange-80));
  --color-nexia-orange-60: rgb(var(--nexia-orange-60));
  --color-nexia-orange-40: rgb(var(--nexia-orange-40));
  --color-nexia-orange-20: rgb(var(--nexia-orange-20));

  /* Nexia Yellow */
  --color-nexia-yellow-100: rgb(var(--nexia-yellow-100));
  --color-nexia-yellow-80: rgb(var(--nexia-yellow-80));
  --color-nexia-yellow-60: rgb(var(--nexia-yellow-60));
  --color-nexia-yellow-40: rgb(var(--nexia-yellow-40));
  --color-nexia-yellow-20: rgb(var(--nexia-yellow-20));

  /* Nexia Black */
  --color-nexia-black-100: rgb(var(--nexia-black-100));
  --color-nexia-black-80: rgb(var(--nexia-black-80));
  --color-nexia-black-60: rgb(var(--nexia-black-60));
  --color-nexia-black-40: rgb(var(--nexia-black-40));
  --color-nexia-black-20: rgb(var(--nexia-black-20));
  --color-nexia-black-10: rgb(var(--nexia-black-10));

  --color-nexia-gray: #6C6C6C;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}

html, body{
    font-family: var(--font-effra-regular) ;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.description-paragraph {
  margin-bottom: 1em;
  line-height: 1.6;
}

.description-paragraph + .description-paragraph {
  margin-top: 1em;
}

